<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2 mt-4">

    <div class="post-page text-center my-4">
      <h1><%- item.title || "Untitled" %></h1>
      <hr>
      <span class="date"><%= item.date.format(config.date_format) %></span>
    </div>

    <%- item.content %>

    <div id="waline"></div>
    <script type="module">
      import { init } from 'https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.js';
  
      init({
        el: '#waline',
        serverURL: 'https://waline.guanjigj.green',
      });
    </script>

  </div>
</div>