<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2 mt-4">

    <div class="post-page text-center my-4">
      <h1><%- item.title || "Untitled" %></h1>
      <hr>
      <span class="date"><%= item.date.format(config.date_format) %></span>
    </div>

    <%- item.content %>

    <div id="gitalk-container"></div>
    <script>gitalk.render('gitalk-container');</script>

  </div>
</div>
